# on the machine set as the snap-store-proxy
./push_snaps.sh

# in the context of the container registry
# define DOCKER_REGISTRY environment variable (ie. localhost:5000)
./push_container_images.sh

# update the provided bundle to use the container registry (if using on-prem container registry)
edit ./bundle.yaml
```
  containerd:
    annotations:
      gui-x: '475'
      gui-y: '800'
    charm: ./charms/containerd
    options:
      custom_registries: '[{"host": "docker.io", "url": "http://my.custom.registry:5000"}]'   # point to your docker registry
```

# and snap-store-proxy (if using on-prem snaps)

cat << EOF >> snap-store-model-config.yaml
snap-store-assertions: |-
  type: store
  ...
snap-store-proxy: <store-id>
EOF
juju model-config snap-store-model-config.yaml

# Finally deploy the cluster
juju deploy {{deploy_args}}
